# Veja https://help.github.com/articles/ignoring-files/ para mais sobre ignorar arquivos.

# Dependências
/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testes
/coverage

# Next.js
/.next/
/out/

# Produção
/build

# Diversos
.DS_Store
*.pem
*.log

# Logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente local (NÃO FAÇA COMMIT DESTES ARQUIVOS!)
.env
.env.local
.env.*.local
!/.env.example # Não ignore o arquivo de exemplo

# Vercel
.vercel

# Turbo
.turbo

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Firebase Studio / IDX
.idx/
